body{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
    z-index: 10;
    font-family: Arial, sans-serif;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

.link{
    text-decoration:underline !important;
}

@media only screen and (min-width: 600px) {
    .title2{
        width: 50vw;
    }

    .title2 img{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){

}