body{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
    z-index: 10;
    font-family: Arial, sans-serif;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

.link{
    text-decoration:underline !important;
}

@media only screen and (min-width: 600px) {
    .header {
        background-color: #d9ebd9;
        margin: 0;
        padding: 0;
        color: #64a75b;
    }

    /*　ハンバーガーボタン　*/
    .hamburger {
        display: none;
    }

    nav.hamburger_list {
        margin: 0;
        padding:  0;
        border: 0;
        position: fixed;
        top  : 0;
        left : 0%;
        color: #000;
        text-align: left;
        transition: all 0.6s;
        width: 100%;
        z-index : 902;
        opacity: 100%;
        pointer-events: auto;

    }
      
    /* このクラスを、jQueryで付与・削除する */
    nav.hamburger_list.active {
    }

    .menu_open a{
        display: none;
    }

    .menu_open h3{
        display: none ;
    }

    nav.hamburger_list h1{
        display: inline-block;
        font-family: 'Zen Kaku Gothic Antique';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.045em;
        color: #464646;
        margin: 0;
        padding: 0;
        
    }

    nav.hamburger_list h3{
        font-family: 'Zen Kaku Gothic Antique';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -0.005em;
        color: #343434;
        margin: 10px 7vw 30px;
    }

    nav.hamburger_list a{
        text-decoration: none;
        color: black;
        margin:0px;
        padding: 0px;
        width: fit-content;
        display: block;
        border: none !important;
    }

    .main{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        background-color: #D9D9D9;
    }

    .text{
        text-align: right;
        font-size: 30px;
        font-weight: bold;
        margin-right: 20px;
    }

    .image{
        display: flex;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        margin: 0;
        padding-right: 0;
    }

    .image img{
        margin: 0;
        padding: 0;
        max-height: 80px;
    }

    .title{
        display: inline-flex;
        left: 0;
        margin: 0%;

    }

    .logo{
        display: inline-flex;
        position: absolute;
        margin-left: 85%;
        text-align: right;
    }

    .container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: right;
        width: 100%;
        text-align: right;
    }

    .contain{
        flex-grow: 1;
        box-sizing: border-box;
        width: 83vw;
    }

    .side {
        background-color: #CBCBCB;
        text-align: center;
        margin: 0;
        justify-content:space-around;
        /* position: fixed; */
        width: 17vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        list-style: none;
    }

    .side a{
        border-bottom: solid 2px #919191;
        border-right: solid 2px #919191;
    }

    .box {
        flex-direction: column;
        display: block;
        height: 100px;
        /* width: calc(100% - 40px); */
        box-sizing: border-box;
        padding: 0;
        margin: 15%;
    }

    #box_change{
        background-color: #D9D9D9;
        border-right: none;
    }

    .side_content{
        width: 100%;
        height: 100%;
    }

    .title2{
        text-align: left;
        margin: 5%;
    }

    .slider img {
        width:100%;/*スライダー内の画像を横幅100%に*/
        height:auto;
    }

    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/

    .slider .slick-slide {
        margin:0 10px;/*スライド左右の余白調整*/
    }

    .top_news{
        text-align: left;
        margin: 5%;
        background: rgba(165, 31, 31, 27%);
        height: 10%;
        padding: 7px;
        border: solid 1.5px #FF0000;
    }

    .news_top{
        margin: 0;
        font-weight: bold;
        font-size: 25px;
    }

    .em_news{
        font-size: 17px;
    }

    .footer { 
        color: white;
        background-color: rgb(9, 94, 9);
        box-sizing: border-box;
    }

    .footer p{
        height: 10vh;
    }
}

@media only screen and (max-width: 600px){
    .header {
        background-color: rgb(217, 235, 217);
        padding: 10px;
        color: rgb(100, 167, 91);
    }

    /*　ハンバーガーボタン　*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 903;
        right : 13px;
        top   : 12px;
        width : 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
    }
    .hamburger span {
        display : block;
        position: absolute;
        width   : 30px;
        height  : 2px ;
        left    : 6px;
        background : #555;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition   : 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 10px;
    }
    .hamburger span:nth-child(2) {
        top: 20px;
    }
    .hamburger span:nth-child(3) {
        top: 30px;
    }
    
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top : 16px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 16px;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
    }


    nav.hamburger_list {
        margin: 0;
        padding:  0;
        border: 0;
        position: fixed;
        z-index : -1;
        opacity: 0;
        top  : 60px;
        left : 0%;
        color: #000;
        text-align: left;
        transition: all 0.6s;
        width: 100%;
        height: 160px;
        pointer-events: none;
    }
      
    /* このクラスを、jQueryで付与・削除する */
    nav.hamburger_list.active {
        z-index : 902;
        opacity: 100%;
        pointer-events: auto;
    }

    .menu_open h3{
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition   : 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
        translate: 0px -200px;
        z-index: 80;
        pointer-events: none;
        display: none;
    }

    .menu_open.active h3{
        translate:0px 0px;
        pointer-events: auto;
        display: block;
    }

    .header_menu{
        position: relative;
        width: 86vw;
        margin:0 0 0 5vw;
        padding:  25px 2vw;
        border-top:0.5px solid #CCCCCC;
        background-color: white;
        z-index: 90;
    }

    nav.hamburger_list h1{
        font-family: 'Zen Kaku Gothic Antique';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: -0.005em;
        color: #464646;
        margin: 0;
        padding: 0;
    }

    nav.hamburger_list h3{
        font-family: 'Zen Kaku Gothic Antique';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -0.005em;
        color: #343434;
        margin: 10px 7vw 30px;
    }

    nav.hamburger_list a{
        text-decoration: none;
        color: black;
        margin:0px;
        padding: 0px;
        width: fit-content;
        display: block;
        border: none !important;
    }

    /*丸の拡大*/
    .circle-bg{
        position: fixed;
        z-index:3;
        /*丸の形*/
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #ffffff;
        /*丸のスタート位置と形状*/
        transform: scale(0);/*scaleをはじめは0に*/
        right:-50px;
        top:-50px;
        transition: all .6s;/*0.6秒かけてアニメーション*/
    }

    .circle-bg.circleactive{
        transform: scale(50);/*クラスが付与されたらscaleを拡大*/
    }

}